<%= render 'dashnav' %>

<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h2 class="latobold">Recent Events</h2>
			<% if @recent_events.blank? %>
				<h3 class="latolight">You have not created any events. <%= link_to "Create one", "" %>.</h3>
			<% end %>
		</div>
	</div>
</div>