<!DOCTYPE html>
<html>
	<head>
		<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
	</head>
	<body>
		<p>We have received your prayer request. Only the ministerial staff has access to read these.  Your request will always remain confidential. If you need to contact us, you can call 970-255-0332.</p>
	</body>
</html>