<!DOCTYPE html>
<html>
	<head>
		<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
	</head>
	<body>
		<h2>Prayer Request</h2>
		<h3>Name: <%= @prayer.full_name %></h3>
		<h3>Email: <%= @prayer.email %></h3>
		<h3>Phone: <%= @prayer.phone %></h3>
		<h3>Prayer Request:</h3>
		<p><%= @prayer.prayer_request %></h3>
	</body>
</html>