// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* FONTS */
.latolight {font-family:'latolight';}
.latoregular {font-family:'latoregular';}
.latobold {font-family:'latobold';}
.latoblack {font-family:'latoblack';}

/* COLORS */
.white {color:#fff;}


/* GLOBAL STYLES */


/* HOME PAGE */
.navbar-container {
  background:#222;
}
.navbar {
  margin-bottom:0;
  padding-bottom:0;
}

.moto-container {
  p {
    margin-bottom:0;
  }
}

.moto-img {
  width:100%;
}

.slogan-container {
  background:#222;
  p{
    font-family:'latolight';
    font-size:1.8em;
    text-align:center;
    margin:0;
    padding:20px 0;
    color:#fff;
  }
}

.prayer-container {background:#2877bb;padding:30px 0 60px 0;}
.form-text {font-size:1.15em;font-family:'latolight';}

.about-container {
  background:#f1f1f1;padding:30px 0 60px 0;
  p {
    font-size:1.15em;
  }
}
.events-container {padding:30px 0 60px 0;}
.event-title {font-size:1.8em;}
.event-date {font-size:1.1em;}
.event-detail{font-size:1.15em;}
